@import "icons.less";

@color-bg: #536c69;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body, .screen {
	width: 100%;
	height: 100%;
}

.screen {
	background: @color-bg;
	//width: 320px;
	//height: 240px;
}

.watch {
	width: 100%;
	overflow: hidden;
}

.digit-wrap, .digit-spacer {
	display: block;
	float: left;
	margin-top: 1%;
}

.digit-wrap {
	width: 14%;
	margin-left: 1%;
	margin-right: 1%;
}

.digit-spacer {
	width: 2%;
}

@digit--aspect-ratio: 2;

.digit {
	width: 100%;
	display: inline-block;
	position: relative;
	&:after {
		padding-top: @digit--aspect-ratio * 100%;
		display: block;
		content: '';
	}
}

@color-digit-bg: fade(darken(@color-bg, 10%), 60%);
@color-segment-active: #bdfa15;
@color-segment-inactive: fade(@color-segment-active, 15%);


.digit__inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @color-digit-bg;
}

@digit__segment--height: 6%;
@digit__segment--width: @digit__segment--height * @digit--aspect-ratio;
@digit--padding: 2%;

.digit__segment {
	position: absolute;
}

.digit__segment--horizontal {
	height: @digit__segment--height;
	left: @digit--padding + @digit__segment--width / 2;
	right: @digit--padding + @digit__segment--width / 2;
}

.digit__segment--vertical {
	width: @digit__segment--width;
	height: 50% - @digit--padding * 2 - @digit__segment--height;
}

.digit__segment--a {
	top: @digit--padding;
}

.digit__segment--b {
	right: @digit--padding;
	top: @digit--padding + @digit__segment--height / 1.1;
}

.digit__segment--c {
	right: @digit--padding;
	bottom: @digit--padding + @digit__segment--height / 1.3;
}

.digit__segment--d {
	bottom: @digit--padding;
}

.digit__segment--e {
	left: @digit--padding;
	bottom: @digit--padding + @digit__segment--height / 1.3;
}

.digit__segment--f {
	left: @digit--padding;
	top: @digit--padding + @digit__segment--height / 1.1;
}

.digit__segment--g {
	top: 50% - @digit__segment--height / 2;
}

// triangles voodoo http://jsfiddle.net/josedvq/3HG6d/

@trinagle-magic-h: 7%;
@trinagle-magic-v1: 7.5%;
@trinagle-magic-v2: 15.2%;

.digit__segment__triangle {
	position: absolute;
	overflow: hidden;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
	}
}

.digit__segment__triangle--up {
	top: 0;
	width: 100%;
	height: 0;
	padding-left: 50%;
	padding-bottom: 50%;
	overflow: hidden;

	&:after {
		margin-left: -500px;

		border-left: 500px solid transparent;
		border-right: 500px solid transparent;
		border-bottom: 500px solid transparent;
	}
}

.digit__segment__triangle--down {
	bottom: 0;
	width: 100%;
	height: 0;
	padding-left: 50%;
	padding-top: 100%;
	&:after {
		margin-left: -500px;
		margin-top: -500px;

		border-left: 500px solid transparent;
		border-right: 500px solid transparent;
		border-top: 500px solid transparent;
	}
}

.digit__segment__triangle--left {
	left: 0;

	width: @trinagle-magic-h;
	height: 0;
	padding-top: @trinagle-magic-h;
	padding-bottom: @trinagle-magic-h;
	&:after {
		margin-top: -500px;

		border-top: 500px solid transparent;
		border-bottom: 500px solid transparent;
		border-right: 500px solid transparent;
	}
}

.digit__segment__triangle--right {
	right: 0;

	width: 0%;
	height: 0;
	padding-top: @trinagle-magic-h;
	padding-bottom: @trinagle-magic-h;
	padding-left: @trinagle-magic-h;
	&:after {
		margin-top: -500px;
		margin-left: -500px;

		border-top: 500px solid transparent;
		border-bottom: 500px solid transparent;
		border-left: 500px solid transparent;
	}
}

.digit__segment__body {
	position: absolute;
}

.digit__segment--vertical .digit__segment__body {
	width: 100%;
	top: @trinagle-magic-v1;
	bottom: @trinagle-magic-v2;
}

.digit__segment--horizontal .digit__segment__body {
	height: 100%;
	left: @trinagle-magic-h;
	right: @trinagle-magic-h;
}

.digit__segment {
	.digit__segment__body {
		background: @color-segment-inactive;
	}

	.digit__segment__triangle--up:after {
		border-bottom-color: @color-segment-inactive;
	}
	.digit__segment__triangle--down:after {
		border-top-color: @color-segment-inactive;
	}
	.digit__segment__triangle--left:after {
		border-right-color: @color-segment-inactive;
	}
	.digit__segment__triangle--right:after {
		border-left-color: @color-segment-inactive;
	}
}

.digit__segment--active {
	.digit__segment__body {
		background: @color-segment-active;
	}

	.digit__segment__triangle--up:after {
		border-bottom-color: @color-segment-active;
	}
	.digit__segment__triangle--down:after {
		border-top-color: @color-segment-active;
	}
	.digit__segment__triangle--left:after {
		border-right-color: @color-segment-active;
	}
	.digit__segment__triangle--right:after {
		border-left-color: @color-segment-active;
	}
}

.tweets {
	width: 100%;
	height: 50%;
	margin-top: 3.5%;
	padding: 0 3%;
	overflow: hidden;
}

.tweets__tweet {
	font-family: 'Courier New', monospace;
	color: darken(@color-segment-active, 7%);
	font-size: 93%;
	a {
		text-decoration: none;
		border-bottom: 1px dashed;
		color: darken(@color-segment-active, 10%);
	}
	.user {
		.icon;
		.icon-twitter;

		img, [data-scribe="element:name"] {
			display: none;
		}
	}
	.timePosted {
		text-align: right;
		font-size: 80%;
		padding-top: 2px;
	}
}
